* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

body {
  background-color: blue;
}

main {
  padding-top: 100px;
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 3;
  background-color: rgba(9, 9, 134, 0.486);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.header__logo {
  width: 60px;
  padding-block: 10px;
}

.nav__list {
  display: flex;
  gap: 10px;
}

.nav__link {
  color: white;
}

.up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
